@model Blackfinch_LTV.Models.SystemStatus
@{
}
     
<p>
    Total Number Of Successful Applications: @Model.TotalNumberOfSuccessfulApplications
</p>

<p>
    Total Number Of Failed Applications: @Model.TotalNumberOfFailedApplications
</p>

<p>
    Total Value Of Written Loans (GBP): @Model.TotalValueOfWrittenLoans
</p>

<p>
    AverageLTV (%): @Model.AverageLTV
</p>
