@page
@model Blackfinch_LTV.Pages.FailedModel
@{
    ViewData["Title"] = "Failed Application";
}

<div class="text-center">
    <h1 class="display-4">We are sorry</h1>
    <p>Your application has been declined.</a></p>
</div>
