@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="text-dark" asp-area="" asp-page="/Apply">Click here to apply for a loan.</a></p>
</div>
