@page
@model Blackfinch_LTV.Pages.SuccessfulApplicationModel
@{
    ViewData["Title"] = "Successful Application";
}

<div class="text-center">
    <h1 class="display-4">Congratulations</h1>
    <p>Your application was successful.</a></p>
</div>
